{% extends "Asset_Manager_App/layout.html" %}

<html>
    <head>
        <title>{{ title }}</title>
        {% load static %} <!-- Instruct Django to load static files -->
        <link rel="stylesheet" type="text/css" href="{% static 'site.css' %}" />
    </head>
    <body>
        <div><a href="schedule">Schedule</a></div>
        <br />
        <span class="message">{{ message }}</span>{{ content }}

        {% block content %}


        {% if request.user.is_authenticated %}
        <p>{{request.user}}</p>
        <a href="{% url 'logout' %}">Logout</a>
        {% else %}
        <a href="{% url 'login' %}">Login</a>
        {% endif %}

        <hr>
        <h1>Your Assets:</h1>

        {% if content %}
        <a href="{% url 'asset-create' %}">Add Asset</a>

        <table>
            <tr>
                <th>Asset</th>
                <th></th>
                <th></th>
            </tr>
            {% for asset in assetList %}
            <tr>
                <td>{{asset.assetName}}</td>
                <td><a href="{% url 'asset' asset.id %}">View</a></td>
                <td><a href="{% url 'asset-update' asset.id %}">Edit</a></td>
                <td><a href="{% url 'asset-delete' asset.id %}">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <span>No assets in stock!</span>
        {% endif %}
        {% endblock content %}
    </body>

</html>